@model List<laptop_store.Models.Laptop>
@{
    ViewData["Title"] = "Cart";
    double total = 0;
}

<div class="py-5 text-center">
    <img class="mb-4" src="/android-chrome-512x512.png" alt="" width="72" height="72">
    <h2>Cart</h2>
</div>
<div class="row">
    <div class="col-md-12 order-md-2 mb-4">
        @if (ViewData["cart"] != null)
        {
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
            </h4>
            <h4 class="d-flex justify-content-between align-items-center mb-3 ml-5 mt-5">
                <span class="text-muted">@ViewData["cart"]</span>
            </h4>
        }
        else
        {
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">@Model.Count</span>
            </h4>
            <ul class="list-group mb-3">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@(Model[i].LaptopName)</h6>
                            <small class="text-muted">Quantity: @(Model[i].LaptopOrderQuantity)</small>
                        </div>
                        <span class="text-muted">@(Model[i].LaptopPrice * Model[i].LaptopOrderQuantity)₫</span>
                    </li>
                    total += Model[i].LaptopPrice * Model[i].LaptopOrderQuantity;
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (VND)</span>
                    <strong>@total₫</strong>
                </li>
            </ul>
            <form method="post" asp-controller="Home" asp-action="Order">
                <input type="hidden" name="listLaptopInCart" value="@Model" />
                <input type="hidden" name="totalPrice" value="@total" />
                <button class="btn btn-primary btn-lg btn-block" type="submit">Order</button>
            </form>
        }
    </div>
</div>

