@model laptop_store.Models.Laptop
@{
    ViewData["Title"] = "Detail";
    double price = Model.LaptopPrice;
    string priceString = price.ToString();
    for (int j = priceString.Length - 3; j > 0; j -= 3)
    {
        priceString = priceString.Insert(j, ".");
    }
}

<h1>@Model.LaptopName</h1>
<div class="row">
    <div class="shadow-sm mb-4 mr-5 col-sm">
        <img class="bd-placeholder-img card-img-top img-fluid" width="400" height="400"
             name="@Model.LaptopName" src="~/@Model.LaptopImage" alt="@Model.LaptopName" />
    </div>
    <div class="mb-4 mr-5 col-sm">
        <div class="shadow-sm mb-4 px-3 py-3 d-flex flex-column">
            <p>CPU: @Model.LaptopCPU</p>
            <p>GPU: @Model.LaptopGPU</p>
            <p>RAM: @Model.LaptopRAM</p>
            <p>Display: @Model.LaptopDisplay</p>
            <p>Storage: @Model.LaptopStorage</p>
        </div>
        <div class="shadow-sm mb-4 px-3 py-3 d-flex flex-column">
            @if (Model.LaptopDiscountPercentage != 0)
            {
                <p>Discount: @Model.LaptopDiscountPercentage%</p>
                <p>Old Price: <s>@priceString₫</s></p>
                price = (Math.Round(Model.LaptopPrice * ((100 - Model.LaptopDiscountPercentage) / 100)));
                priceString = price.ToString();
                for (int j = priceString.Length - 3; j > 0; j -= 3)
                {
                    priceString = priceString.Insert(j, ".");
                }
                <p class="product_sale_price">New Price: @priceString₫</p>
            }
            else
            {
                <p class="product_sale_price">Price: @priceString₫</p>
            }
        </div>
        <div class="shadow-sm px-3 py-3 d-flex flex-column">
            @if (ViewData["Notification"] != null)
            {
                <p class="badge badge-warning px-3 py-3 text-wrap">@ViewData["Notification"]</p>
            } else if (ViewData["checkSignIn"] != null)
            {
                <a href="/Home/SignIn" class="btn btn-primary form-control-lg">Add To Cart</a>
            } else
            {
                <form method="post" asp-controller="Home" asp-action="AddToCart">
                    <input type="hidden" name="LaptopID" value="@(Model.LaptopID)" />
                    <input type="hidden" name="LaptopName" value="@(Model.LaptopName)" />
                    <input type="hidden" name="LaptopPrice" value="@(Model.LaptopPrice)" />
                    <input type="hidden" name="LaptopQuantity" value="@(Model.LaptopQuantity)" />
                    <input type="hidden" name="LaptopDiscountPercentage" value="@(Model.LaptopDiscountPercentage)" />
                    <input class="btn btn-primary form-control-lg" type="submit" value="Add To Cart" />
                </form>
            }
        </div>
    </div>
</div>
