@model laptop_store.Models.Laptop
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.LaptopName</h1>
<div class="row">
    <div class="col-md-4 d-flex">
        <div class="mb-4 shadow-sm mr-5">
            <img name="@Model.LaptopName" src="~/@Model.LaptopImage" alt="@Model.LaptopName" />
        </div>
        <div class="mb-4 shadow-sm ml-5 px-3 py-3">
            <p>CPU: @Model.LaptopCPU</p>
            <p>GPU: @Model.LaptopGPU</p>
            <p>RAM: @Model.LaptopRAM</p>
            <p>Display: @Model.LaptopDisplay</p>
            <p>Storage: @Model.LaptopStorage</p>
        </div>
        <div class="mb-4 shadow-sm ml-5 px-3 py-3">
            <p>Price: @Model.LaptopPrice</p>
            <p>Discount: @Model.LaptopDiscountPercentage%</p>
        </div>
    </div>
</div>
