@model System.Data.DataTable
@{
    ViewData["Title"] = "Home";
}

<form method="post" asp-controller="Home" asp-action="Detail">
        <div class="row">
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="laptop-image">
                            <input class="bd-placeholder-img card-img-top img-fluid" width="300" height="300" type="image" name="@Model.Rows[i]["LaptopName"]"
                                   onclick="chosenLaptop(@Model.Rows[i]["LaptopID"], '@Model.Rows[i]["LaptopPrice"]', '@Model.Rows[i]["LaptopName"]',
                                                        '@Model.Rows[i]["LaptopDiscountPercentage"]', '@Model.Rows[i]["LaptopImage"]')"
                                   src="@Model.Rows[i]["LaptopImage"]" alt="@Model.Rows[i]["LaptopName"]" />
                            @if ((double)@Model.Rows[i]["LaptopDiscountPercentage"] != 0)
                            {
                                <p class="discount-badge">-@Model.Rows[i]["LaptopDiscountPercentage"]%</p>
                            }
                        </div>
                        <div class="card-body">
                            @{
                                double price = Math.Round((double)Model.Rows[i]["LaptopPrice"] * ((100 - (double)Model.Rows[i]["LaptopDiscountPercentage"]) / 100));
                                string priceString = price.ToString();
                                for (int j = priceString.Length-3; j > 0; j-=3)
                                {
                                    priceString = priceString.Insert(j, ".");
                                }
                            }
                            <p class="card-text d-flex justify-content-center product_sale_price">@priceString₫</p>
                        </div>
                    </div>
                </div>
            }
        </div>
</form>

<script>
    function chosenLaptop(laptopID, laptopPrice, laptopName, laptopDiscountPercentage, laptopImage) {
        $('form').append('<input type="hidden" name="laptopID" value="' + laptopID + '" />');
        $('form').append('<input type="hidden" name="laptopPrice" value="' + laptopPrice + '" />');
        $('form').append('<input type="hidden" name="laptopName" value="' + laptopName + '" />');
        $('form').append('<input type="hidden" name="laptopDiscountPercentage" value="' + laptopDiscountPercentage + '" />');
        $('form').append('<input type="hidden" name="laptopImage" value="' + laptopImage + '" />');
    }
</script>


