@model System.Data.DataTable
@{
    ViewData["Title"] = "Home";
}

<form id="chooseForm" method="post" asp-controller="Home" asp-action="Detail">
        <div class="row">
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <input class="bd-placeholder-img card-img-top" width="300" height="300" type="image" name="@Model.Rows[i]["LaptopName"]"
                               onclick="chosenLaptop(@Model.Rows[i]["LaptopID"], '@Model.Rows[i]["LaptopPrice"]',
                            '@Model.Rows[i]["LaptopName"]', '@Model.Rows[i]["LaptopDiscountPercentage"]', '@Model.Rows[i]["LaptopImage"]')"
                               src="@Model.Rows[i]["LaptopImage"]" alt="@Model.Rows[i]["LaptopName"]" />
                        <div class="card-body">
                            <p class="card-text d-flex justify-content-center">Price: @Model.Rows[i]["LaptopPrice"]</p>
                            <p class="card-text d-flex justify-content-center">Discount: @Model.Rows[i]["LaptopDiscountPercentage"]%</p>
                        </div>
                    </div>
                </div>
            }
        </div>
</form>

<script>
    function chosenLaptop(laptopID, laptopPrice, laptopName, laptopDiscountPercentage, laptopImage) {
        let form = document.getElementById("chooseForm");

        let laptopIDInput = document.createElement("input");
        laptopIDInput.innerHTML = '<input type="hidden" name="laptopID" value="' + laptopID + '" />';
        let laptopPriceInput = document.createElement("input");
        laptopPriceInput.innerHTML = '<input type="hidden" name="laptopPrice" value="' + laptopPrice + '" />';
        let laptopNameInput = document.createElement("input");
        laptopNameInput.innerHTML = '<input type="hidden" name="laptopName" value="' + laptopName + '" />';
        let laptopDiscountPercentageInput = document.createElement("input");
        laptopDiscountPercentageInput.innerHTML = '<input type="hidden" name="laptopDiscountPercentage" value="' + laptopDiscountPercentage + '" />';
        let laptopImageInput = document.createElement("input");
        laptopImageInput.innerHTML = '<input type="hidden" name="laptopImage" value="' + laptopImage + '" />';

        form.appendChild(laptopIDInput);
        form.appendChild(laptopPriceInput);
        form.appendChild(laptopNameInput);
        form.appendChild(laptopDiscountPercentageInput);
        form.appendChild(laptopImageInput);
    }
</script>


