@model laptop_store.Models.User
@{
    ViewData["Title"] = "Profile";
}


<div class="py-5 text-center">
    <img class="mb-4" src="/android-chrome-512x512.png" alt="" width="72" height="72">
    <h2>Your Profile</h2>

</div>
<div class="input-group justify-content-center">
    <form method="post" asp-controller="Home" asp-action="ChangeProfile">
        <div class="row d-flex justify-content-between">
            <h4 class="mb-3">Profile</h4>
            <input type="button" id="ChangeInfo" class="btn btn-info" value="Update" onclick="changeInfo()" />
        </div>
        <div class="mb-3">
            <label>Email</label> 
            <input type="email" class="form-control" name="UserEmail" value="@(Model.UserEmail)" readonly />
        </div>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" id="UserName" name="UserName" value="@(Model.UserName)" disabled="" />
        </div>
        <div class="mb-3">
            <label>Address</label>
            <input type="text" class="form-control" id="UserAddress" name="UserAddress" placeholder="No Information" value="@(Model.UserAddress)" disabled="" />
        </div>
        <div class="mb-3">
            <label>Phone</label>
            <input type="text" class="form-control" id="UserPhone" name="UserPhone" placeholder="No Information" value="@(Model.UserPhone)" disabled="" />
        </div>
        @if (ViewData["EnterInformartion"] != null)
        {
            if (ViewData["EnterInformartion"].ToString().Contains("Successful"))
            {
                <div class="alert alert-success">@ViewData["EnterInformartion"]</div>
            }
            else
            {
                <div class="alert alert-danger">@ViewData["EnterInformartion"]</div>
            } 
        }
        <input type="submit" id="SubmitChange" class="btn btn-primary col-lg" value="Submit Change" disabled="" />
    </form>
</div>

<script>
    function changeInfo() {
        if ($("#ChangeInfo").prop("value") == "Update") {
            $('#UserName').prop("disabled", false);
            $('#UserAddress').prop("disabled", false);
            $('#UserPhone').prop("disabled", false);
            $("#ChangeInfo").prop("class", "btn btn-danger");
            $("#ChangeInfo").prop("value", "Cancel");
            $("#SubmitChange").prop("disabled", false);
        } else {
            $('#UserName').prop("disabled", true);
            $('#UserAddress').prop("disabled", true);
            $('#UserPhone').prop("disabled", true);
            $("#ChangeInfo").prop("class", "btn btn-info");
            $("#ChangeInfo").prop("value", "Update");
            $("#SubmitChange").prop("disabled", true);
        }
    }
</script>